	body{
		background-color:white; 
		color:#555 ; 
		font-family: arial,helvetica,sans-serif ; 
		font-size: 16px;  
		line-height: 1.6em; 
		margin:0;
	}
  
	.container{
		margin: auto; 
		width: 80%; 
		overflow: hidden; 
	}  
	#main {
		padding-bottom: 10px;
	} 

	#main-section {
		float: left; 
		margin-left:50px; 
	} 
	
	#main-section h1{ 
	/*	float: left;*/
		color: #1377F9;  
		font-size: 60px; 
		padding-top: 150px;  
		margin-bottom: 20px; 


	}  
	#main-section h3{
			font-size:20px; 
	
	}

	#sidebar{
		float:left; 
		width: 30%;  /*padding-top:110px;*/
		margin-top: 110px; 
		padding-top: 10px;
		background-color: #ffffff;
		border: 2px solid white ; 
		border-radius:15px ;
	} 
	#sidebar input{
		width: 90%;  
		padding: 10px;  
		margin:auto;
		border-radius:8px ; 
		border-color: ghostwhite;  
		color:black;  	
	}   
	#sidebar input:hover{
		border-color: #1877f2;
			}
	#sidebar button{ 
		width: 90%; 
		padding: 10px 20px ;
		border-radius: 8px;
		background-color:#1877f2; 
		color: white; 
		font-size: 18px; 
	} 

	/*.button{ 
		width: 90%; 
		padding: 10px 20px ;
		border-color: #1E90FF; 
		border-radius: 8px;
		background-color:green; 
		color: white; 
		font-size: 18px;
	}*/
	 
	#sidebar p{
		text-align: center; 
		color: ;
	} 

	#navbar{ 
		width: 93%;
		text-align:right; 
		font-size: 16px; 
		margin-bottom: 180px;
	}

	#sidebar-1 ul{
		padding: 0; 
		list-style: none; 
		font-size: 13px;
	}

	#sidebar-1 li{
		display: inline;  
		margin-left: 10px; 
		font-size: 12px;
		
	}    
	#span li{ 
		display: inline; 
		margin-left: 13px;  
		font-size: 12px;

	} 
	#main-footer{
		font-size: 12px;
	}

